version: "3.9"
services:
  p2cfrontend:
    build:
      context: ./p2cfrontend
      dockerfile: Dockerfile
    image: docker.io/jeremybradfordsr1/p2cfrontend:latest
    env_file:
      - .env-frontend
    ports:
      - "8004:80"
    depends_on:
      - p2cproxy

  p2cproxy:
    build:
      context: ./p2cproxy
      dockerfile: Dockerfile
    image: docker.io/jeremybradfordsr1/p2cproxy:latest
    env_file:
      - .env-proxy
    ports:
      - "9000:9000"

  p2capi:
    build:
      context: ./ScalableMssqlApi
      dockerfile: Dockerfile
    image: docker.io/jeremybradfordsr1/p2capi:latest
    env_file:
      - .env-db
    ports:
      - "8083:8083"