services:
  p2cfrontend:
    build:
      context: ./p2cfrontend
      dockerfile: Dockerfile
    image: docker.io/jeremybradfordsr1/p2cfrontend:latest
    env_file:
      - .env-frontend
    ports:
      - "8004:80"
    environment:
      - TZ=America/Chicago
    restart: always
    depends_on:
      - p2cproxy

  p2cproxy:
    build:
      context: ./p2cproxy
      dockerfile: Dockerfile
    image: docker.io/jeremybradfordsr1/p2cproxy:latest
    env_file:
      - .env-proxy
    ports:
      - "9000:9000"
    environment:
      - TZ=America/Chicago
    restart: always

  p2capi:
    build:
      context: ./ScalableMssqlApi
      dockerfile: Dockerfile
    image: docker.io/jeremybradfordsr1/p2capi:latest
    env_file:
      - .env-db
    ports:
      - "8083:8080"
    environment:
      - TZ=America/Chicago
    restart: always

  orchestrator:
    build:
      context: ./P2CScripts
      dockerfile: Dockerfile
    image: docker.io/jeremybradfordsr1/orchestrator:latest
    pull_policy: always
    ports:
      - "8005:8005"
    env_file:
      - .env-scripts
    environment:
      - ORCHESTRATOR_DB_PATH=/data/orchestrator.db
      - TZ=America/Chicago
    restart: always
    volumes:
      - orchestrator_db:/data

volumes:
  orchestrator_db:
